<div class="position-relative">
  <!-- Navbar -->
  <nav class="navbar position-absolute px-4 w-100 z-index-2">
    <div class="container-fluid">
      <div class="Home">
        <a href="/home" class="nav-title">Portafolio</a>
      </div>
      <!-- Menú horizontal: solo visible en escritorio -->
      <ul class="nav-links d-none d-lg-flex gap-4 mb-0">
        <li><a class="link-nav" href="/branding">Branding</a></li>
        <li><a class="link-nav" href="/social-media">Social Media</a></li>
        <li><a class="link-nav" href="/diseno-ui">Diseño UI</a></li>
        <li><a class="link-nav" href="/logofolio">Logofolio</a></li>
      </ul>
<!-- Botón Hamburguesa: solo visible en móviles -->
      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- Menú Desplegable -->
      <div class="menu-overlay" [class.active]="menuOpen">
        <div class="menu-header">
          <div class="offcanvas-header">
            <a href="/home" class="nav-header">Portafolio</a>
            <button type="button" class="btn btn-close" (click)="toggleMenu()"></button>
          </div>
          <div class="ms-auto">
            <hr class="nav-divider mt-2 mb-2">
            <ul class="navbar-nav">
              <li><a href="/branding">Branding</a></li>
              <li><a href="/social-media">Social Media</a></li>
              <li><a href="/diseno-ui">Diseño UI</a></li>
              <li><a href="/logofolio">Logofolio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- Gradient -->
  <div class="container-fluid">
    <div class="gradient mt-3" style="background-image: url('/assets/img/Gradient.jpg'); "></div>
  </div>
  <!-- End Gradient -->

  <!-- Profile -->
  <div class="card-profile p-3 mb-4 mx-4 overflow-hidden" style="margin-top: -6rem;">
  <div class="row gx-4 align-items-center">
    <div class="col-auto">
      <div class="profile-placeholder mb-3">
        <img src="assets/img/profile_image.jpeg" alt="profile_image"
          class="w-100 h-100 object-fit-cover rounded border-radius-lg shadow-sm">
      </div>
    </div>

    <div class="col-auto my-auto">
      <div class="h-100">
        <h5 class="fw-semibold mb-1">Camila Monje</h5>
        <p><small class="mb-3">Diseñadora UI</small></p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto">
      <div>
        <ul class="nav nav-fill flex-column align-content-center">

          <!-- Descargar CV -->
         <li class="nav-item">
          <a href="assets/Docs/Camila-Monje.pdf" target="_blank" class="text-decoration-none d-flex align-items-center">
            <i class="bi bi-download icon me-2" aria-hidden="true"></i>
            <span class="ms-1">Descargar CV</span>
          </a>
         </li>


          <!-- GitHub -->
         <li class="nav-item">
            <a href="https://github.com/ckamiuwu" target="_blank" class="text-decoration-none d-flex align-items-center">
              <i class="bi bi-github icon me-2" aria-hidden="true"></i>
              <span class="ms-1">ckamiuwu</span>
            </a>
        
          </li>

          <!-- LinkedIn -->
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/camila-monje-807884200"
              target="_blank"
              class="text-decoration-none d-flex align-items-center">
             <i class="bi bi-linkedin icon me-2" aria-hidden="true"></i>
             <span class="ms-1">Camila Monje Panchillo</span>
            </a>
         </li>

        </ul>
      </div>
    </div>
  </div>
</div>

  <!-- End Profile -->
</div>
