 <!-- Breadcrumb -->
<nav class="mt-4" style="--bs-breadcrumb-divider: '|';">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="ms-2">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">Home</li>
              <li class="breadcrumb-item active" aria-current="page">Diseño Ui</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</nav>
<!-- End Breadcrumb -->
 <section class="mt-3 d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="main-gallery d-flex flex-column">
            <!-- Imagen principal -->
            <div class="main-image mb-4">
              <img id="mainDisplay" src="assets/img/PortadaNisum.jpg" class="img-fluid rounded shadow" alt="Imagen principal">
            </div>
            <!-- Miniaturas -->
            <div class="thumbnail-gallery d-flex gap-3 flex-wrap justify-content-start">
              <img src="assets/img/PortadaNisum.jpg" class="thumb img-thumbnail active" onclick="changeImage(this)">
              <img src="assets/img/Revista_Nisum.jpg" class="thumb img-thumbnail" onclick="changeImage(this)">
              <img src="assets/img/Tarjetas_Nisum.jpg" class="thumb img-thumbnail" onclick="changeImage(this)">
              <img src="assets/img/Pendon_Nisum.jpg" class="thumb img-thumbnail" onclick="changeImage(this)">
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class=" d-flex flex-column">
          <h4 class="fw-semibold">Identidad Corporativa</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Carrusel Version Mobile -->
<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
          <div id="brandingCarousel" class="carousel slide" data-bs-ride="carousel">
            <h4 class="fw-semibold mb-3">Rebranding sitio web </h4>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/KiTechnologie.jpg" class="d-block w-100" alt="Slide 1">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Pantalla_1.jpg" class="d-block w-100" alt="Slide 2">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Pantalla_2.jpg" class="d-block w-100" alt="Slide 3">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Pantalla_3.jpg" class="d-block w-100" alt="Slide 4">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#brandingCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#brandingCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-4">
  <div class="container">
    <ul class="nav nav-tabs" id="brandingTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="descripcion-tab" data-bs-toggle="tab" data-bs-target="#descripcion" type="button" role="tab">
          Descripción
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="herramientas-tab" data-bs-toggle="tab" data-bs-target="#herramientas" type="button" role="tab">
          Herramientas
        </button>
      </li>
    </ul>
    <div class="tab-content p-3 border-top-0 rounded-bottom" id="brandingTabsContent">
      <div class="tab-pane fade show active" id="descripcion" role="tabpanel">
        <p>Diseño de rebranding a tres páginas del sitio web de kitechnologies, Cultura, Total Expierence y Blog, mi trabajo incluyó
          la renovación del diseño, la mejora de la experiencia de usuario y la alineacíon de todos los elementos visuales con la nueva
          estrategia de marca.
         <h6 class="fw-bold">Acerca de la marca</h6>
         <p>Kitechnologies es una consultora líder en tecnología. Integrando estrategia, diseño e ingeniería de software para que los clientes crezcan.
          Diseñando experiencias centradas en el usuario que conectan los productos con las necesidades reales de los clientes, maximizando el valor
          para el negocio.</p>
      </div>
      <div class="tab-pane fade" id="herramientas" role="tabpanel">
        <div class="program-icons d-flex ">
          <img src="assets/img/figma.svg" alt="Figma">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-4 mb-5">
  <div class="container">
    <h5 class="fw-semibold mb-3">Proyectos de Diseño UI</h5>
    <div class="scroll-cards d-flex flex-nowrap overflow-auto">
      <!-- Card -->
      <div class="card shadow-sm h-100 me-3 flex-shrink-0">
          <img src="assets/img/Newsletter.jpg" class="card-img-top" alt="Newsletters">
          <div class="etiqueta text-center opacity-50">
            <small class="titulo-etiqueta">Proyecto personal</small>
          </div>
          <div class="card-body">
            <h6 class="card-title fw-semibold">Rebranding versión móvil</h6>
            <p><small class="card-subtitle  mb-2">Alamys</small></p>
            <p class="mb-5">Diseño de rebranding</p>
            <a href="#" class="Button btn w-100">Ver más</a>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- End Content -->

