.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
}

.breadcrumb-item {
  font-size: 0.9rem;
  color: #c4c5d9;
}

.card{
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  color: #101137;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.03);
}

.program-icons img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.icon-mac{
  width: 56.45px;
  height: 40px;
  object-fit: contain;
}

.icon-school{
  width: 46px;
  height: 40.71;
  object-fit: contain;
}

.icon-pen{
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.icon-book{
  width: 46px;
  height: 39.43px;
}
