 <!-- Breadcrumb -->
  <div class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="ms-2">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Información -->
  <div class="container-fluid  py-4">
    <div class="row">
        <div class="col-12">
          <div class="card p-3 mb-4">
            <h4 class="fw-semibold mb-3">Información del Perfil</h4>
            <p class="mb-0">
              Hola, soy una Diseñadora Gráfica, especializada en diseño web con
              más de 3 años de experiencia en empresas tecnológicas, Especializada en diseño web,
              branding y creación de contenido visual. Experta en Adobe Creative Suite (Photoshop,
              Illustrator, InDesign) y Figma. Con un fuerte compromiso con el aprendizaje continuo
              y el crecimiento profesional, me considero una persona responsable, minuciosa y
              orientada a resultados, siempre buscando aportar valor y adaptarme
              a las necesidades del entorno dinámico del diseño.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-6">
                 <div class="card p-3 mb-4">
                    <img src="assets/img/icon-mac.svg" alt="Experiencia Profesional" class="icon-mac">
                    <h4 class="fw-semibold mb-3 mt-3">Experiencia Profesional</h4>
                    <p class="mb-1 fw-semibold">Diseñadora Web</p>
                    <p class="mb-1">Ki Tecnologías, Comunicación y Tecnología.</p>
                    <small class="">Dic. 2020 - Ene. 2024</small>
                 </div>
           </div>
           <div class="col-12 col-md-6">
          <div class="card blur p-3 mb-4">
                <img src="assets/img/icon-school.svg" alt="Técnico en Diseño Gráfico" class="icon-school">
                <h4 class="fw-semibold mb-3 mt-3">Formación</h4>
                <p class="mb-1 fw-semibold">Técnico en Diseño Gráfico</p>
                <p class="mb-1">Instituto Profesional INACAP</p>
                <small class="">2018 - 2019</small>
            </div>
         </div>
      </div>
      <div class="row">
            <div class="col-12 col-md-6">
          <div class="card p-3 mb-4">
            <img src="assets/img/icon-book.svg" alt="Certificaciones" class="icon-book">
            <h4 class="fw-semibold mb-3 mt-3">Certificaciones</h4>
            <p class="mb-1 fw-semibold">Domestika</p>
            <p>Diseño de producto digital con Lean y UX.</p>
            <p class="mb-1 fw-semibold">Udemy</p>
            <p>Scrum & Agile, Metodologías Ágiles.</p>
          </div>
      </div>
          <div class="col-12 col-md-6">
            <div class="card p-3 mb-4">
              <img src="assets/img/icon-pen.svg" alt="Programas" class="icon-pen">
              <h4 class="fw-semibold mb-3 mt-3">Programas</h4>
              <div class="program-icons d-flex">
                  <img src="assets/img/Logo Ps.svg" alt="Photoshop">
                  <img src="assets/img/Logo Ai.svg" alt="Illustrator">
                  <img src="assets/img/Logo Xd.svg" alt="InDesign">
                  <img src="assets/img/figma.svg" alt="Figma">
              </div>
            </div>
        </div>
      </div>
  </div>


