.footer-gradient {
  background-color: #8281F5;
  color: #fff;

}
.main-content{
  max-width: 120rem;
  margin: auto;
  width: 65%;
   display: flex;
  justify-content: space-between;
  padding: 6rem 0;

}
.icon-list{
  list-style: none;
  padding-left: 0%;
}



.footer-divider{
  border: none;
  height: 1px;
  background-color: #C4C5D9;
  width: 60%;
  margin: 0 auto;
}

