 <!-- Breadcrumb -->
<nav class="mt-4" style="--bs-breadcrumb-divider: '|';">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="ms-2">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">Home</li>
              <li class="breadcrumb-item active" aria-current="page">Social Media</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</nav>
<!-- End Breadcrumb -->

<!-- Carrusel Version Escritorio -->
<section class="mt-3 d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="main-gallery d-flex flex-column">
            <!-- Imagen principal -->
            <div class="main-image mb-4">
              <img id="mainDisplay" src="assets/img/KiTechnologie.jpg" class="img-fluid rounded shadow" alt="Imagen principal">
            </div>
            <!-- Miniaturas -->
            <div class="thumbnail-gallery d-flex gap-3 flex-wrap justify-content-start">
              <img src="assets/img/KiTechnologie.jpg" class="thumb img-thumbnail active" onclick="changeImage(this)">
              <img src="assets/img/KiPost.jpg" class="thumb img-thumbnail" onclick="changeImage(this)">
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class=" d-flex flex-column">
          <h4 class="fw-semibold">Programa de podcasts</h4>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Carrusel Version Mobile-->
<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
          <div id="brandingCarousel" class="carousel slide" data-bs-ride="carousel">
            <h4 class="fw-semibold mb-3">Programa de podcasts</h4>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/KiTechnologie.jpg" class="d-block w-100" alt="Slide 1">
              </div>
              <div class="carousel-item">
                <img src="assets/img/KiPost.jpg" class="d-block w-100" alt="Slide 2">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#brandingCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#brandingCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Tab-->
<section class="mt-4">
  <div class="container">
    <ul class="nav nav-tabs" id="brandingTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="descripcion-tab" data-bs-toggle="tab" data-bs-target="#descripcion" type="button" role="tab">
          Descripción
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="herramientas-tab" data-bs-toggle="tab" data-bs-target="#herramientas" type="button" role="tab">
          Herramientas
        </button>
      </li>
    </ul>
    <div class="tab-content p-3 border-top-0 rounded-bottom" id="brandingTabsContent">
      <div class="tab-pane fade show active" id="descripcion" role="tabpanel">
        <p>Diseño de post para la nueva iniciativa de Ki Technologies: el lanzamiento del nuevo programa de podcasts.</p>
         <h6 class="fw-semibold">Acerca de la marca</h6>
         <p>Ki Technologies es una consultora chilena especializada en soluciones digitales, con más de 27 años de
          experiencia y cerca de 1900 proyectos ejecutados globalmente, Su enfoque es la “Total Experience” (TX),
          que busca diseñar, implementar y potenciar experiencias holísticas para usuarios y clientes mediante metodologías
          como Design Thinking, automatización, modelado predictivo y células ágiles
          kitechnologies.com.</p>
      </div>
      <div class="tab-pane fade" id="herramientas" role="tabpanel">
        <div class="program-icons d-flex ">
          <img src="assets/img/Logo Ps.svg" alt="Photoshop">
          <img src="assets/img/Logo Ai.svg" alt="Illustrator">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mt-4 mb-5">
  <div class="container">
    <h5 class="fw-semibold mb-3">Proyectos de Social Media</h5>
    <div class="scroll-cards d-flex flex-nowrap overflow-auto">
      <!-- Card -->
      <div class="card shadow-sm h-100 me-3 flex-shrink-0">
          <img src="assets/img/Evento_DuocUc.jpg" class="card-img-top" alt="Newsletters">
          <div class="card-body">
            <h6 class="card-title fw-semibold">Eventos</h6>
            <p><small class="card-subtitle  mb-2">Nisum</small></p>
            <p class="mb-5">Charlas organizadas por Nisum</p>
            <a href="#" class="Button btn w-100">Ver más</a>
          </div>
      </div>

        <div class="card shadow-sm h-100 me-3 flex-shrink-0">
          <img src="assets/img/Busqueda.jpg" class="card-img-top" alt="Banners">
          <div class="card-body">
            <h6 class="card-title fw-semibold">Búsqueda</h6>
            <p><small class="card-subtitle  mb-2">Nisum</small></p>
            <p class="mb-5">Búsqueda de nuevos empleados</p>
            <a href="#" class="button btn w-100">Ver más</a>
          </div>
        </div>


        <div class="card shadow-sm h-100 me-3 flex-shrink-0">
          <img src="assets/img/Desarrollador.jpg" class="card-img-top" alt="Banners">
          <div class="card-body">
            <h6 class="card-title fw-semibold">Campaña de búsqueda</h6>
            <p><small class="card-subtitle  mb-2">Nisum</small></p>
            <p class="mb-5">Búsqueda de desarrolladores</p>
            <a href="#" class="button btn w-100">Ver más</a>
          </div>
        </div>
    </div>
  </div>
</section>

<!-- End Content -->

