.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
}

.breadcrumb-item {
  font-size: 0.9rem;
  color: #c4c5d9;
  font-weight:400;
}

.breadcrumb-item.active {
  font-size: 0.9rem;
  color: #c4c5d9;
  font-weight:200;
}

.nav-tabs .nav-link.active {
  color: #101137;
  font-weight: 500;
  background-color: #e6e6ea ;
  border: none;
  border-radius:0;
  border-bottom: 2px solid #7751F5;
}

.nav-tabs .nav-link {
  color: #101137;
  border: none;
}
.etiqueta{
  background-color: #8281f536;
  border-radius: 5px;
  margin: 0px 0px 16px 0px;
}

.titulo-etiqueta{
  color: #7751F5;
}

.tab-content {
  background: #fff;
  border: none;
}

.program-icons img {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.scroll-cards {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0.5rem;
}

.scroll-cards .card {
  scroll-snap-align: start;
  border-radius: 1rem;
}

.card{
  border-radius: 15px;
  background-color: #ffffff;
  border: none;
  color: #101137;
  width: 228px;
}
.card-subtitle{
  color: #c4c5d9;
}
.card-img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button {
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #9B9AF7;
  color: white;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
  border-radius: 30px
}

.button:hover {
  background: #8281F5;
  font-weight: 500;
}
